{% extends 'blog/base_blog.html' %}


{% block title %}
    Create Post - {{ block.super }}
{% endblock %}

{% block content %}
    <form action="{% url 'post_create_url' %}" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {% if field.errors %}
                    {{ field.errors }}
                {% endif %}
                {{ field.label }}
                {{ field }}
            </div>
        {% endfor %}

    <button type="submit" class="btn btn-primary mt-4">Create Post</button>
    </form>
{% endblock %}